extends layout

block content
    #latest-post.container
        each post, index in posts
            if index === 0
                article.post-container(class="{{post_class}}")
                    header.post-header
                        h1.post-title= post.title
                        p.post-date: time(datetime= post.published) Published September 19th 2013
                    .post-content
                        = post.content
                        if post.labels
                            p.post-tags
                                span Tagged:
                                =  post.labels 

    #post-index.container
        ol.post-list
            each post in posts
                li.post-stub(class="{{post_class}}")
                    a.js-ajax-link(title= post.title, href= $url(post))
                        h4.post-stub-title= post.title
                        time.post-stub-date(datetime= post.published) Published September 19th 2013

                        span.post-stub-tag Featured

        .post-navigation
            | pagination
            